<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Document</title>
	</head>
	<body>
		<h5 class="mt-5">XML/JSON 값 요청 예제 - ExampleController 요청</h5>		
		<div class="list-group mb-3">		
		<a href="/sample/getExample" class="list-group-item list-group-item-action active" aria-current="true">
			데이터로만 반환(단순 문자열) - getText (JSON)
		</a>
				
		<a href="/sample/getExample2" class="list-group-item list-group-item-action">
			getExample2(XML)
		</a>
		<a href="/sample/getList" class="list-group-item list-group-item-action">
			getList
		</a>		
	</div>
	</body>
</html>